* {
  margin: 0;
  padding: 0;
}

.button {
    background-color: transparent;
    color: black;
    border: 4px solid black;
    border-radius: 25%;
    padding: 20px 30px;
    text-align: center;
    display: inline-block;
    font-size: 2em;
    line-height: 40px;
    transition: transform 0.3s, border-color 0.3s, color 0.3s;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
    margin: 10px;
}

.button:hover {
    transform: scale(1.15);
    color: hotpink;
    border-color: hotpink;
}

.log{
    padding: 30px 50px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.01);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/*        div {
  margin-top: 50px;
  margin-left: 50px;
}
#balls{
    color:#FF000D;
}
* {
	margin: 0;
	padding: 0;
}/*
body {
	font-family: 'Baloo 2', cursive;
}
.banner-text {
	width: 100%;
	position: absolute;
	z-index: 1;
}
.banner-text ul {
	height: 50px;
	float: right;
}
.banner-text ul li {
	display: inline-block;
	padding: 40px 15px;
	text-transform: uppercase;
	color: #fff;
	font-size: 20px;
}
.banner-text ul li:hover {
	cursor: pointer;
}
.banner-text h2 {
	text-align: center;
	color: #fff;
	font-size: 50px;
	margin-top: 20%;
}*/
.animation-area {
	background: linear-gradient(to left, #8942a8, #ba382f);
	position: fixed;
	width: 100%;
	height: 150vh;
}

.box-area {
	position: fixed;
	background-attachment: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.box-area li {
	position: absolute;
	display: block;
	list-style: none;
	width: 25px;
	height: 25px;
	background: rgba(255, 255, 255, 0.2);
	animation: animate 20s linear infinite;
	bottom: -150px;
}
.box-area li:nth-child(1) {
	left: 86%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
}
.box-area li:nth-child(2) {
	left: 12%;
	width: 30px;
	height: 30px;
	animation-delay: 1.5s;
	animation-duration: 10s;
}
.box-area li:nth-child(3) {
	left: 70%;
	width: 100px;
	height: 100px;
	animation-delay: 5.5s;
}
.box-area li:nth-child(4) {
	left: 42%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 15s;
}
.box-area li:nth-child(5) {
	left: 65%;
	width: 40px;
	height: 40px;
	animation-delay: 0s;
}
.box-area li:nth-child(6) {
	left: 15%;
	width: 110px;
	height: 110px;
	animation-delay: 3.5s;
}
@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
	}
	100% {
		transform: translateY(-800px) rotate(360deg);
		opacity: 0;
	}
}
